# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.unitybasics_homework_5.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../:\UnityGit\unitybasics_homework_5\.idea\.idea.unitybasics_homework_5.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
